<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>Hello World</servlet-name>
    <servlet-class>pl.javastart.servlets.HelloWorldServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>pl.javastart.servlets.MainServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>SelectedTestSend</servlet-name>
    <servlet-class>pl.javastart.servlets.SelectedTestSend</servlet-class>
    <url-pattern>/SelectedTestSend</url-pattern>
  </servlet>
  
  <servlet>
    <servlet-name>SignUpForTest</servlet-name>
    <servlet-class>pl.javastart.servlets.SignUpForTest</servlet-class>
    <url-pattern>/SignUpForTest</url-pattern>
  </servlet>
  
  <servlet>
    <servlet-name>ProcessCompletedTest</servlet-name>
    <servlet-class>pl.javastart.servlets.ProcessCompletedTest</servlet-class>
    <url-pattern>/ProcessCompletedTest</url-pattern>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Hello World</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping> 
    <servlet-name>Main</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
 
  
  <jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>

</web-app>

